-e git+https://github.com/hackenbergstefan/securec#egg=securec
git+https://github.com/newaetech/chipwhisperer#egg=chipwhisperer
git+https://github.com/Ledger-Donjon/lascar#egg=lascar
jupyter
bokeh
psutil